* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-height: 75vh;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width 800px) {
  .container {
    margin: 0 auto;
    padding: 40px;
  }
}
